<mat-card class="gasolinera-card" style="width: 200px;">
    <mat-card-title class="gasolinera-tittle" style="font-weight: bold; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;">{{gasolineraInput.rotulo}}</mat-card-title>
    <mat-card-content>
        <img mat-card-lg-image style="align-items: center;" src="https://thumbs.dreamstime.com/b/el-icono-de-la-gasolinera-s%C3%ADmbolo-de-la-gasolina-y-del-combustible-diesel-plano-78775507.jpg" alt="">
        <p class="gasolinera-overview">{{gasolineraInput.provincia}}</p>
        <p class="gasolinera-overview">{{gasolineraInput.municipio}}</p>
        <ul>
            <li>Gasolina 95: {{gasolineraInput.precioGasolina95E5}}€</li>
            <li>Gasolina 98: {{gasolineraInput.precioGasolina98E5}}€</li>
            <li>Diesel: {{gasolineraInput.precioGasoleoA}}€</li>
        </ul>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"><mat-icon>favorite</mat-icon></button>
        <button mat-button (click)="openDetailGasolinera(gasolineraInput.ideess)">Mostar Detalles</button>
    </mat-card-actions>
</mat-card>
